/* Ticket icons */
.Icon {
  width: auto;
  padding-left: 20px;
  background-position: top left;
  background-repeat: no-repeat;
  color: #006699;
  text-decoration: none;
}

.Icon.Ticket {
  background-image: url("../images/icons/ticket.gif");
}
.Icon.webTicket {
  background-image: url("../images/icons/ticket_source_web.gif");
}
.Icon.emailTicket {
  background-image: url("../images/icons/ticket_source_email.gif");
}
.Icon.phoneTicket {
  background-image: url("../images/icons/ticket_source_phone.gif");
}
.Icon.otherTicket {
  background-image: url("../images/icons/ticket_source_other.gif");
}
.Icon.attachment {
  background-image: url("../images/icons/attachment.gif");
}
.Icon.file {
  background-image: url("../images/icons/attachment.gif");
}
.Icon.refresh {
  background-image: url("../images/icons/refresh.gif");
}

.Icon.thread {
  font-weight: bold;
  font-size: 1em;
  background-image: url("../images/icons/thread.gif?1319556657");
}

.Icon:hover {
  text-decoration: underline;
}

#ticketTable {
  border: 1px solid $border_color;
  border-left: none;
  border-bottom: none;

  caption {
    padding: 5px;
    text-align: left;
    color: #fff;
    background-color: $blue;
    border: 1px solid $blue;
    border-bottom: none;
    font-weight: bold;
  }

  th {
    height: 30px;
    line-height: 30px;
    background: $background_bg;
    border: 1px solid $border_color;
    border-right: none;
    border-top: none;
    padding:0px 5px;
    a {
      color: #000;
    }
  }

  td {
    padding: 5px;
    border: 1px solid $border_color;
    border-right: none;
    border-top: none;
  }

  tr.alt td {
    background: #f9f9f9;
  }
}

#ticketSearchForm {
  display: flex;
  gap:20px;
  justify-content: space-between;
}

a.refresh {
  display: block;
  width: auto;
  float: right;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0 10px 0 28px;
  border: 1px solid #aaa;
  margin-left: 10px;
  color: #333;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-image: url("../images/icons/refresh.png");
}

.singleTicketInfo{
  display: flex;
  justify-content: space-between;
  gap:20px;
  margin:0px 0px 20px 0px;
}

.infoTable {
  border: 1px solid $border_color;
  thead { 
    background: $background_bg;
    td{
      padding:10px 10px;
      font-weight: 700;
    }
  }
  th{
    text-align: left;
    padding:5px 10px;
  }
  tbody{
    border: 1px solid #ddd;
  }
}


.thread-entry {
  margin-bottom: 15px;
}
.thread-entry.avatar {
  margin-left: 60px;
}
.thread-entry.response.avatar {
  margin-right: 60px;
  margin-left: 0;
}
.thread-entry > .avatar {
  margin-left: -60px;
  display:inline-block;
  width:48px;
  height:auto;
  border-radius: 5px;
}
.thread-entry.response > .avatar {
  margin-left: initial;
  margin-right: -60px;
}
img.avatar {
  border-radius: inherit;
}
.avatar > img.avatar {
  width: 100%;
  height: auto;
}
.thread-entry .header {
  padding: 8px 0.9em;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.2);
  border-radius: 3px 3px 0 0;
}
.thread-entry.avatar .header:before {
position: absolute;
top: 7px;
right: -8px;
content: '';
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;
border-left: 8px solid #b0b0b0;
display: inline-block;
}
.thread-entry.avatar .header:after {
position: absolute;
top: 7px;
right: -8px;
content: '';
border-top: 7px solid transparent;
border-bottom: 7px solid transparent;
display: inline-block;
margin-top: 1px;
}

.thread-entry.avatar .header {
  position: relative;
}

.thread-entry.response .header {
  background:#f7cdce;
}
.thread-entry.avatar.response .header:after {
  border-left: 7px solid #f7cdce;
  margin-right: 1px;
}

.thread-entry.message .header {
  background:#C3D9FF;
}
.thread-entry.avatar.message .header:before {
  top: 7px;
  left: -8px;
  right: initial;
  border-left: none;
  border-right: 8px solid #CCC;
}
.thread-entry.avatar.message .header:before {
  border-right-color: #9cadcc;
}
.thread-entry.avatar.message .header:after {
  top: 7px;
  left: -8px;
  right: initial;
  border-left: none;
  border-right: 7px solid #c3d9ff;
  margin-left: 1px;
}

.thread-entry .header .title {
  max-width: 500px;
  vertical-align: bottom;
  display: inline-block;
  margin-left: 15px;
}

.thread-entry .thread-body {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;
}
.thread-body .attachments {
background-color: #f4faff;
margin: 0 -0.9em;
position: relative;
top: 0.9em;
padding: 0.3em 0.9em;
border-top: 1px dotted #ccc;
border-top-color: rgba(0,0,0,0.2);
border-radius: 0 0 6px 6px;
}
.thread-body .attachments .filesize {
margin-left: 0.5em;
}
.thread-body .attachments a,
.thread-body .attachments a:hover {
text-decoration: none;
}
.thread-body .attachment-info {
  margin-right: 10px;
  display: inline-block;
  width: 48%;
}
.thread-body .attachment-info .filename {
max-width: 80%;
max-width: calc(100% - 70px);
}
.label {
font-size: 11px;
padding: 1px 4px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-weight: bold;
line-height: 14px;
color: #ffffff;
vertical-align: baseline;
white-space: nowrap;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #999999;
}
.label-bare {
background-color: transparent;
background-color: rgba(0,0,0,0);
border: 1px solid #999999;
color: #999999;
text-shadow: none;
}
.thread-event {
  padding: 0px 2px 15px;
  margin-left: 60px;
}
.type-icon {
  border-radius: 8px;
  background-color: #f4f4f4;
  padding: 4px 6px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.1em;
  border: 1px solid #eee;
  vertical-align: top;
}
.type-icon.dark {
  border-color: #666;
  background-color: #949494;
}
.thread-event img.avatar {
  vertical-align: middle;
  border-radius: 3px;
  width: auto;
  max-height: 24px;
  margin: -3px 3px 0;
}
.thread-event .description {
  margin-left: -30px;
  padding-top: 6px;
  padding-left: 30px;
  display: inline-block;
  width: 642px;
  width: calc(100% - 95px);
  line-height: 1.4em;
}
.thread-event .type-icon {
position:relative;
}
.thread-event .type-icon::after {
content: "";
border: 16px solid white;
position: absolute;
top: -3px;
bottom: 0;
left: -3px;
right: 0;
z-index: -1;
}
.thread-entry::after {
content: "";
border-bottom: 2px solid white;
display: block;
}
.thread-entry::before {
content: "";
display: block;
border-top: 2px solid white;
}
#ticketThread::before {
border-left: 2px dotted #ddd;
border-bottom-color: rgba(0,0,0,0.1);
position: absolute;
margin-left: 94px;
z-index: -1;
content: "";
top: 0;
bottom: 0;
right: 0;
left: 0;
}
#ticketThread {
z-index: 0;
position: relative;
@include rounded_border;
}

.freetext-files {
  padding: 10px;
  margin-top: 10px;
  border: 1px dotted #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
}
.freetext-files .file {
  margin-right: 10px;
  display: inline-block;
  width: 48%;
  padding-top: 0.2em;
}
.freetext-files .title {
  font-weight: bold;
  margin-bottom: 0.3em;
  font-size: 1.1em;
}

@media only screen and (max-width: 760px) {
  #ticketSearchForm{
    flex-direction: column;
    gap:10px;
  }
}